
html {
	font: normal 14px 'PT Sans', Arial, sans-serif;
}
body {
	margin: 0 auto;
	font-size:100%;
}
.clearfix:after {
	display: block;
	content:'';
	clear:both;
}

/**
* *********************Container basics
**/
.container {
	padding: 10px 15px;
}
@media screen and (min-width:620px) {
	.container {
		padding: 20px 30px;
	}
}

/**
******************************** Header
**/

header, .header {
	border-bottom:1px solid #ccc;
}
.container.header {
	padding-top: 10px;
}
.header-logo {
	font-family: "PT Sans Narrow";
}
.header-logo .title, .header-logo .subtitle {
	margin:0;
}
.header-logo .title {
	font-size:1.42em;
	line-height: 100%;
}
.header-logo .subtitle {
	font-size:1em;
	font-weight: 200;
	line-height: 100%;
}
.header-nav ul {
	padding:0;
	margin:0;
	margin-top:10px;
	line-height: 20px;
	list-style: none;
}
.header-nav li:first-child {
	margin-left:0;
}
.header-nav li {
	display: inline-block;
	margin-left:8px;
}
.header-nav li a{
	text-decoration: none;
	color: #6b4e36;
}

@media screen and (min-width:620px) {
	.container.header {
		padding-top: 30px;
	}
	.header-logo {
		float:left;
	}
	.header-nav {
		float:right;
		clear:none;
	}
	.header-nav li {
		margin-left:30px;
	}
}

/*
***************************Slider
*/

.slider {
	height:200px;
	/*overflow: hidden;*/
	position: relative;
}
.slider .slider-container, .slider .slider-controls  {
	position: absolute;

	top:0;
	left:0;
	right:0;
	bottom:0;
}
.slider .slider-container {
	margin:0;
	padding:0;

	/*background-color: #ccc;*/
}
.slider .slider-controls {
	color:#fff;
	height:90px;
	margin:auto 0;
}
.slider .slider-indicators {
	position: absolute;
	right:15px;
	bottom:10px;

	margin:0;
	padding:0;
	font-size:0;
}

.slider-indicators .slider-indicator-item:first-child{
	margin-left:0;
}
.slider-indicators .slider-indicator-item{
	list-style: none;
	display: inline-block;
	background:#fff;
	
	height:15px;                                                                                        
	width: 15px;
	line-height: 20px;
	margin-left:5px;
}
.slider-indicators .slider-indicator-item.active {
	background-color: #fff59b;
}
.slider-controls .prev, .slider-controls .next {
	height:100%;
	display: block;
	width:16px;
	opacity: .3;

	position: absolute;
}
.slider-controls .prev {
	left:15px;
	background: url(../images/slider/prev_s.png) center no-repeat;
}
.slider-controls .next {
	right:15px;
	background: url(../images/slider/next_s.png) center no-repeat;
}
.slider-container .slider-container-item{
	background-color: #fff;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	display: none;

}
.slider-container .slider-container-item.active{
	display: block;
}

.slider-container-item{
	min-width:100%;
	min-height:100%;
}

@media screen and (min-width: 620px){
	.slider{
		height: 300px;
	}
	.slider-controls .prev{
		left:30px;
		background: url(../images/slider/prev.png)  no-repeat;
	}
	.slider-controls .next{
		right:30px;
		background: url(../images/slider/next.png)  no-repeat;
	}
	.slider .slider-indicators{
		right: 30px;
		bottom: 20px;
	}
	 .slider-indicators.slider-indicator-item{
		height: 20px;
		width: 20px;
		margin-left: 10px;
	}
}
@media screen and (min-width: 920px){
	.slider{
		height: 400px;
	}
	.slider-indicators .slider-indicator-item{
		height:20px;
		width:20px;
		margin-left:10px;
	}
}
#works_item_first{
	background:white url(../images/main_1.png) center center no-repeat;
	background-size:cover;
}
#works_item_second{
	background: white url(../images/project_2.jpg)center center no-repeat;
	background-size: cover;
}
#works_item_third{
	background: white url(../images/project_3.jpg) center center no-repeat;
	background-size: cover;
}
/*
******************Reviews
*/
.firm-title{
	width:auto;
	margin:0;
	padding: 10px 20px;
	font-size: 1.4em;
	background-color: #fff59b;
	border-top:1px solid #ccc;
}
@media screen and (min-width: 620px){
	.firm-title{
		display: inline-block;
		margin: 20px 0;
		margin-left: 20px;
		font-size: 1.42em;
		box-shadow: -4px -5px 0 #dfda9f;
		border-top: none;
	}
	.firm-title + .slider{
		margin-top: -10px;
	}
}

#reviews {
	height:180px;
}
@media screen and (min-width: 620px){
	#reviews{
		height: 150px;
	}
}
@media screen and (min-width: 920px){
	#reviews{
		height: 100px;
	}
}

#reviews .slider-controls {
	display: none;
}
#reviews .slider-container-item {
	padding: 10px 15px;
	display: block;
}
#reviews ul, #reviews li, #reviews  figure,#reviews p {
	margin:0;
	padding:0;
	list-style: none;
}
#reviews p{
	padding-right: 5px;
}

#reviews .slider-container-item figcaption{
	font-size: 0.85em;
	padding-left:80px;
	padding-top:5px;
	color: #797979; 
	margin-bottom: 0;
	/*position: relative;*/
}
#reviews .slider-container-item li{  
	margin-bottom: 0;
}
#reviews .slider-container-item /*figcaption*/ h3{
	font-size: 1.4em ;
	color: #6c6c6c;
	margin:0;
	margin-top: 5px;
}
#reviews .slider-container-item img {
	float: left;
	margin-right:10px;
	margin-top: 5px;

}
#reviews .slider-container-item img.reviews_item_brent{
	background:url(../images/brent_m.png);
}

#reviews .slider-indicators {
	left:120px;
	position: absolute;
	/*background-color: none;*/
}
#reviews .slider-indicators .slider-indicator-item {
	width:29px;
	height:29px;
	margin-right:10px;
	/*background-color:  none;*/

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
#reviews .slider-indicator-item:hover {
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	filter: grayscale(50%);
}

#reviews .slider-indicator-item.active {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
	background-color: transparent;

}


@media screen and (min-width: 620px){
	#reviews {
		height:155px;
	}
	.firm-title + #reviews {
	 	margin-top:-20px !important;
	 	font-size: 1.2em;
	}
	#reviews .slider-indicators {
		left:140px;

	}
	#reviews .slider-container-item {
		padding: 0 30px;

	}
	#reviews .slider-container-item img {
		margin-right:20px;

	}
	#reviews .slider-container-item figcaption{
		/*display: inline-block;*/
	}
	#reviews .slider-container-item  #reviews_item_brent{
		background: url(../images/brent_m.png) center no-repeat;
	}
}
@media screen and (min-width: 920px){
	#reviews {
		height:140px;
	}
	#reviews .slider-container-item figcaption{
		/*display: inline-block;*/
	}
}
/*
************************subscribe
*/
.subscribe{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #6b4e36;

}
.subscribe > div{
	margin-top: 4px;
	line-height: 40px;
}
.subscribe .subscribe-title{
	font-size: 1.42em;
	font-weight: bold;
	color:#fff;
	margin-top: 15px;
}
.subscribe .subscribe-input{
	height:40px;
	margin-right: 20px;
	display: block;
	width: 250px;
}
.subscribe .subscribe-input input,
.subscribe .subscribe-input button{

	position: absolute;
	border:0;
	padding: 0;
	margin:0;

	height: 40px;

	display: inline-block;
	vertical-align: top;
}
.subscribe .subscribe-input-form{
	width: 327px;
	position:relative;
}
.subscribe .subscribe-input input{
	left: 0;
	right: 40px;
	width: 260px;
	padding-left: 10px;
	padding-right: 15px;
}
.subscribe-input button{
	right: 0;
	width: 40px;
	background-color: #fff59b;
	/*border-left: -17px solid #6b4e36;*/

}
.subscribe-input button:after{
	content: '>';
	color: #333;
	font-size: 25px;
	opacity: .6;
}
.subscribe .subscribe-description{
	color: #fff;
}
@media screen and (min-width: 620px){
	.subscribe{
		display: block;
	}
	.subscribe-title{
		padding-right: 20px;
		margin-top: 0;
		/*min-width: 230px;*/
	}
	.slider-input-form{
		display:inline-block;
		width: 250px;
	}

	.subscribe .subscribe-input {
		
	 	 /*max-width:234px;*/
	 	 width: 307px;
	 	 display: inline-block;
	}
	.subscribe-description {
		padding-left:20px;
		display: none;
	}
}
@media screen and (min-width: 920px) {
	.subscribe-description {
		display: block;
	}
	.subscribe .subscribe-title{
		margin-top: 0; 
	}
	.subscribe-input {
		
	 	 max-width:350px;
	 	 width: 90%;
	 	 display: inline-block;
	}
	.subscribe-description{
		padding: 0;
		margin:0;
	}

}
/*
****************utilities
*/
.utilities{
	margin: 0;
	padding: 15px;
	background-color: #fbfbfb;

}
.utilities-list dt{
	padding: 10px;
}
.utilities-list dt{
	font-weight: 700;
	padding-left: 20px;
	
}

.utilities-list dt:before{
	background: url(../images/marker.png) center no-repeat;
	content: '';
	font-size: 12px;
	position: absolute;
}

.utilities-list dd{
	display: none;
}
.utilities-list ul{
    padding: 0;
    margin: 0;
}
.utilities-list  dt:hover{
	color: #b3a715;
}
.utilities-list dt.active {
    color: #b3a715;
}
.utilities-list dt.active + dd {
    display: block;
}
/*.utilities-list  dt:hover + dd{
	display: block;
	
	-webkit-transition: background-color 2s ease-in-out;
	-moz-transition: background-color 2s ease-in-out;
	transition: background-color 2s ease-in-out;

}
*/
@media screen and (min-width: 620px){
	.utilities-list {
		position: relative;
	}
	.utilities-list dd {
		background-color: transparent;
		line-height: 200%;
	}
	
	.utilities-list dt{
		width: 200px;
		padding: 30px;
		margin:0;
	}
	.utilities-list  dt + dd{
		position: absolute;
		top:22px;
		margin-left: 300px;
	}
	/*.utilities-list dt:hover + dd{*/
		/*display: inline-block;*/
		/*margin-left: 300px;*/
	/*}*/
}
@media screen and (min-width: 920px){
	.utilities-list  dt + dd{
		margin-left: 400px;
	}
	/*.utilities-list dt:hover + dd{*/
		/*margin-left: 400px;*/
	/*}	*/
}

/*
**********************about_me
*/
.aboutMe{
	margin: 0;
	/*padding: 20px;*/
	padding: 0;
	height: auto;
	color: #797979; 
}
.aboutMe .aboutMe-info {
	/*width: 400px;*/
	display: inline-block;
	vertical-align: top;
	font-size: 1em;
	padding: 0;
}
.aboutMe .aboutMe-info h2{
	font-size: 1.2em;
	font-weight: bold;
}
.aboutMe .aboutMe-info img{
	float: left;
	padding-left: 5px;
	padding-top: 8px;
	margin: 3px;

}
.aboutMe .aboutMe-info figcaption{
	padding-left: 15px;
	padding-top: 10px;
}
.aboutMe .aboutMe-info p,.aboutMe-info  h4{
	margin: 0;
	display: inline-block; 
}

.aboutMe .aboutMe-contacts{
	list-style: none;

}
.aboutMe figure ,.aboutMe ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.aboutMe .aboutMe-contacts{
	margin: 10px;
	/*vertical-align: top;*/
}
@media screen and (min-width: 620px){
	.aboutMe{
		padding: 20px;
	}
	.aboutMe .aboutMe-contacts{
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
	margin-top: 20px;
	}
	.aboutMe .aboutMe-info{
		width: 300px;
		padding: 0;
	}
}
@media screen and (min-width:920px){
	.aboutMe .aboutMe-info{
		padding: 0;
		margin: 0;
	}
	.aboutMe .aboutMe-info p{
		width: 500px;
	}
	.aboutMe .aboutMe-contacts {
		float: right;
		margin-top: 135px;
	}
}
/*
**********footer
*/

/*footer*/
.footer{
	background-color:#6b4e36;
	color: #fff;
	margin: 0;
	padding-right: 0;
}
.footer .footer-menu {
	position: relative;
}
.footer .footer-menu > div {
	list-style:none;  
	line-height: 130%;
		
}
.footer .footer-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	/*width:50%;*/
}
.footer .footer-menu:last-child{
	margin-right: -7px;
}
.footer .footer-menu > div a{
	text-decoration: none;
	color: #fff;
}
.footer .footer-copyright {
	display: block;
	position: relative;
	color: #fff;
}
@media screen and (min-width: 620px) {
	.footer .footer-menu {
		width:100%;
	}
	.footer .footer-menu:after {
		content: '';
		display: table;
		clear: both;
	}
	.footer .footer-menu > div {
		width:50%;
		display: inline-block;
		vertical-align: top;
		float:left;
		line-height: 180%;
	}
}	
@media screen and (min-width: 920px) {
	.footer .footer-menu > div {
		width:25%;
		line-height: 200%;
	}
}

input.invalid {
	outline:3px solid #f00;
}
input.valid{
	outline: 2px solid #0f0;
}