
body{

	background: url(file:///var/www/html/food.png);
	display:block;
}
.buttons{
	display:  inline-block;
	margin: 20px;
	width: 50px;
	height: 50px;
	background: url(file:///var/www/html/backgraund.png);
	cursor: pointer;

	border-radius: 50%;
	-moz-border-radius: 50%;
	webkit-border-radius: 50%;	

	box-shadow: 0 3px 20px rgba(0,0,0,.25), 
	inset 0 2px 0 rgba(255,255,225,.4),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 20px rgba(0,0,0,.1);
}
.buttons:hover{

	box-shadow: inset  0 3px 20px rgba(0,0,0,.25), 
	 0 2px 0 rgba(255,255,225,.4),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 20px rgba(0,0,0,.1);
}

.buttons:after{
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	opacity: .7;

}
.btn-1:after{
	background: url(http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/3D-Cube.png?itok=IXHcJaTO)
		center no-repeat;
		background-size: 50%;
}
.btn-2:after{
	background: url(http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/about.png?itok=QFQVXs97)
		center no-repeat;
		background-size: 50%;
}

.btn-3:after{
	background: url(http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/books.png?itok=MuGQs3-3
) 	center no-repeat ;
	background-size: 50%;
}

.buttons:hover:after{
	background-position: center 52%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul{
	list-style: none;
	margin: 30px;
	padding: 0;


}

.button li{
	background: url(file:///var/www/html/hens.png),url(file:///var/www/html/congruent_outline.png);
	width:119px;
	height: 118px;
	margin: 7px;
	display: inline-block;
	border: 2px solid #999;
	box-shadow: 0 2px 20px #444;
	border-bottom-right-radius: 10px 30px;
	cursor: pointer;

}
.button .button1:hover{background-position: -119px 0;}
.button .button1:active{background-position: -238px 0; }

.button .button2{background-position: 0 -120px;}
.button .button2:hover{background-position: -119px -120px;}
.button .button2:active{background-position: -238px -120px; }

.button .button3{background-position: 0 -238px;}
.button .button3:hover{background-position: -119px -238px;}
.button .button3:active{background-position: -238px -238px;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/