body{
	background: url(file:///var/www/html/diamond_upholstery.png);
}
.container{
	width: 1450px;
	height: 2500px;
	margin: 20px;
	background: url(file:///var/www/html/my-foto.jpg);
	border-radius: 10px;
	box-shadow: 10px 10px 15px rgba(0,0,0,.4);
	font: Comic;
	padding: 20px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #ccc;
	position: relative;
	overflow: hidden;

	/*background: -moz-linear-gradient( #333,#bbb); **/

}
.container::after{
	content: '';
	width: 1450px;
	height: 2500px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;

	 -moz-transution: opacity .3s;
	/*background: -moz-repeating-linear-gradient(-45deg,  rgba(0,0,0,.6) 5px  );*/

	background: -moz-repeating-linear-gradient(45grad, rgba(0,0,0,.6) 10px,
				rgba(0,0,0,.5) 15px, transparent  20px, transparent 26px ),
	-moz-repeating-linear-gradient(-45grad, rgba(0,0,0,.6) 10px,
				rgba(0,0,0,.5) 15px, transparent  20px, transparent 26px )
}
.container:hover::after{
	opacity: 0;

}

