body{
	background: url(file:///var/www/html/diagmonds.png);
}
#container{
	-moz-perspective:500px;
	height: 200px;
	width:400px;
}
#inside{
	font-family: 'PT Sance', Arial;
	font-size: 1.5em;
	width: 400px;
	height: 200px;
	background: #bbb;
	margin: 80px;
	line-height: 100px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #fff;

	-moz-transform:rotateY(30grad);
}