body {
	/*background-color: #999;*/
	text-align: 1px ;
	font-style: Verdana;
	color: black;
	font-size: 16px;
	background: url(//var/www/html/1.jpg),	top right repeat-y, ;
}

.list2  li{
	background-color: orange;
	background-size: cover;
}
p {
	text-decoration: none;
}
h2.list{
	background-color: green;
}
/* ul.list li{
	text-decoration: underline;
}*/

.table-main{
	border: dashed;
	border-radius: 13px;
	border-color: red;
	border-spacing: 12px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*псевдокласа действий пользователя*/
/*hover - выделение */ 
/*active - ссылки которые активны*/
/*focus - поля ввода, задаем формат поля ввода */
.table-main  td:hover{
	border: 4px solid black;
	background-color: yellow;
	border-radius: 5px;
}

ul.list2 li:hover{
	background: pink;
	/*box-shadow: 2px solid #444;*/
}
.list>li:hover {
	border-bottom: 1px dotted black 
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*h4~li{
 	color: #999;
}*/

/*first*/
/*h3+li{
 	color: red;
}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a:link{
	border-bottom: 1px dashed #666;
}

/*psevdo class*/
/*nth-last-child*/
/*li:nth-child(2n){
	color:blue;
}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*after*/
/*h3::before{
	content: "Hm..";
	font-style: Times;
}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*selector in atributes*/

/*a[title]{ 
	все а к которых есть title
}*/

/*a[title = "my-title"]
a[title ~= "my-title"] разделены пробелом
a[title  |= "my-title"]разделены чем угодно кроме пробела*/

/*a[href ^= "https "] - выделены все у которых начинается на https*/
/*a[href $= ".jpg"] - заканчивается на */
/*a[href *=".jpg"]- есть гдето*/
a[href $=".png"]::after {
	content: "(.jpg)";
	font-size: 12px;
	color: #100;
}
a[href *="youtube"]::after{
	content: "(.youtube )";
	font-size: 12px;
	color: #100;
}
